.login-page-wrapper {
  height: 95%;
  width: 38%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: #e9e8e6;
  padding: 20px 0;

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .login-form-item-wrapper {
      width: 70%;
      font-weight: 500;
      border: 1px solid #f0754d;
      border-radius: 8px;
      padding: 18px;
      height: 80px;
      .ant-input-outlined:focus,
      .ant-input-affix-wrapper-focused {
        box-shadow: unset;
      }

      .ant-form-item-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
      }
      .ant-form-item-control {
        width: 100%;
      }
      label {
        font-size: 1.4rem !important;
      }
      svg {
        width: 28px;
        height: 28px;
      }
      .login-form-input {
        height: 40px;
        width: 100%;
        border: none;
        font-size: 1.4rem;
        background-color: #e9e8e6;
      }
    }
    .login-form-item {
      width: 70%;
      font-weight: 500;

      .login-form-submit-button {
        width: 70%;
        height: 80px;
        font-size: 2rem;
        background-color: #f0754d;
      }
      label {
        font-size: 1.4rem !important;
      }
      .login-form-checkbox {
        .ant-checkbox-inner {
          border: 1px solid #f0754d;
        }
        .ant-checkbox-checked {
          background-color: #f0754d;

          .ant-checkbox-inner {
            background-color: #f0754d;
          }
        }
      }
    }
  }
  .ant-form-item .ant-form-item-control-input-content {
    flex: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
